
<div class='row'>
  <div class='col-md-12'>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              报名攻略
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <h4>地址&交通</h4>
            <p><strong>1、费米实验室地址：</strong>北京市海淀区知春路113号银网大厦B座10层费米实验室（Fermi Science lab）</p>
            <p><strong>2、交通方式：</strong></p>
            <p>A、地铁4号线、10号线到海淀黄庄站B出口，向东300米</p>
            <p>B、公交355、608、等至海淀黄庄北站；公交304等至海淀黄庄东站</p>
            <div class='row'>
              <div class='col-md-8 col-md-offset-2'>
                <img src="/images/741_2.jpg">
              </div>
            </div>
            <br /><br />
            <p><strong>一、报名地址：</strong></p>
            <p>银网大厦B座10层报名前台（费米实验室所在地）</p>
            <p>豪景大厦11层报名前台（银网大厦过马路斜对面）</p>
            <p><strong>二、报名电话：</strong></p>
            <p>银网前台 62617100</p>
            <p>豪景前台 62106576 ； 62105289</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              课程列表
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <table class="table table-striped">
              <tr><td>名称</td><td>教师</td><td>开始时间</td><td></td><td></td></tr>
              {{#each courses_items}}
              <tr>
                <td><a href="/items/{{this.id}}">{{this.name}}</a></td>
                <td>{{this.teacher_description}}</td>
                <td>{{this.start_date}}</td>
                <td>
                  <form action="/buy" method="post" style="display: inline-block">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button type="submit" class="btn btn-default">直接购买</button>
                  </form>
                </td>
                <td>
                  <form action="/cart" method="post" style="display: inline-block">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button type="submit" class="btn btn-default">加入购物车</button>
                  </form>
                </td>
              </tr>
              {{/each}}
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              活动列表
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <table class="table table-striped">
              <tr><td>名称</td><td>教师</td><td>开始时间</td><td></td><td></td></tr>
              {{#each activities_items}}
              <tr>
                <td><a href="/items/{{this.id}}">{{this.name}}</a></td>
                <td>{{this.teacher_description}}</td>
                <td>{{this.start_date}}</td>
                <td>
                  <form action="/buy" method="post" style="display: inline-block">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button type="submit" class="btn btn-default">直接购买</button>
                  </form>
                </td>
                <td>
                  <form action="/cart" method="post" style="display: inline-block">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button type="submit" class="btn btn-default">加入购物车</button>
                  </form>
                </td>
              </tr>
              {{/each}}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>