<div class='row'>
	<div class='col-md-12'>
        <h3>{{account.realname}}的购物车</h3>
        <p>{{message}}</p>
    	<table class="table table-striped">
        	{{#each itemsInCart}}
        		<tr>
                    <td><a href="/items/{{this.id}}">{{this.name}}</a></td>
                    <td>{{this.content}}</td>
                    <td>
                        {{#if this.failure}}
                            {{this.failure}}
                        {{/if}}
                    </td>
                    <td>
                        <form action="/cart/{{this.id}}" method="post">
                            <input name="_method" type="hidden" value="delete">
                            <button class="btn btn-link" type="submit">&times</button>
                        </form>
                    </td>
                </tr>
        	{{/each}}
        </table>
        <form action="/check-out" method="post">
            <button type="submit" class="btn btn-default">去结算</button>
        </form>
        <p><a href='/account'>返回我的账号</a></p>
    </div>
</div>