{{> subnav_courses}}

<div class='row'>
  <div class='col-md-12'>
    <div class="context-content">
      <div class="inner-content">
        <div>
          <h3>费米化学</h3>
        </div>
        <div>
          <br />
          <div>
            <h4>斯内普教授的火魔法 2015年寒假</h4>

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#outline1" aria-controls="outline1" role="tab" data-toggle="tab">大纲</a></li>
              <li role="presentation"><a href="#list1" aria-controls="list1" role="tab" data-toggle="tab">报名</a></li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="outline1">
                <table class="table table-striped">
                  <tr><td>斯内普教授的火魔法</td><td>你所不知道的实验室；实验安全</td></tr>
                  <tr><td>焰火跳动的彩虹</td><td>金属离子的焰色反应；黑火药的制造史；爆炸的化学</td></tr>
                  <tr><td>酸碱相遇的彩虹</td><td>酸碱电离理论；酸碱指示剂原理与使用；显色原理</td></tr>
                  <tr><td>点水成冰</td><td>溶液和溶解度初步；饱和溶液的配制；过饱和现象与结晶原理初步</td></tr>
                  <tr><td>点滴沉淀</td><td>过滤操作；滤纸折叠；沉淀洗涤与转移</td></tr>
                  <tr><td>泡泡，泡泡！</td><td>洗涤液气泡原理；气体发生装置的搭建；气体的产生与收集</td></tr>
                  <tr><td>铁树铜花</td><td>溶液配制；置换反应原理；金属反应的预处理</td></tr>
                </table>
              </div>
              <div role="tabpanel" class="tab-pane" id="list1">
                <table class="table table-striped">
                  <tr><td>名称</td><td>教师</td><td>开始时间</td><td></td><td></td></tr>
                  {{#each chem_2015_winter_items}}
                  <tr>
                    <td><a href="/items/{{this.id}}">{{this.name}}</a></td>
                    <td>{{this.teacher_description}}</td>
                    <td>{{this.start_date}}</td>
                    <td>
                      <form action="/buy" method="post" style="display: inline-block">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <button type="submit" class="btn btn-default">直接购买</button>
                      </form>
                    </td>
                    <td>
                      <form action="/cart" method="post" style="display: inline-block">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <button type="submit" class="btn btn-default">加入购物车</button>
                      </form>
                    </td>
                  </tr>
                  {{/each}}
                </table>
              </div>
            </div>
          </div>

          <br />
          <h4>名侦探柯南中的化学探秘 2015年春季</h4>

          <div>

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#outline2" aria-controls="outline2" role="tab" data-toggle="tab">大纲</a></li>
              <li role="presentation"><a href="#list2" aria-controls="list2" role="tab" data-toggle="tab">报名</a></li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="outline2">
                <table class="table table-striped">
                  <tr><td>黑衣组织的代号</td><td>琴酒、伏特加、波本的来历；葡萄酒酿制的化学</td></tr>
                  <tr><td>离子邂逅的彩虹</td><td>络合物浅说；溶液配制；互补色原理</td></tr>
                  <tr><td>APTX4869与返老还童的秘密</td><td>APTX4869的成分与作用；养生与化学；自由基清除与皮肤保养</td></tr>
                  <tr><td>DIY护手霜</td><td>DIY护手霜；护手霜的主要成分及其作用</td></tr>
                  <tr><td>舌尖上的相生相克与《危险的处方笺》</td><td>常见食物的化学成分；食品搭配的化学；危险！小心吃出来的“砒霜”</td></tr>
                  <tr><td>液氮冰淇淋与《帝丹小学七大不可思议事件》</td><td>液氮与干冰制冷的原理；液氮冰淇淋的现场制作</td></tr>
                  <tr><td>怪盗基德的猎物与《银翼魔术师》</td><td>珠宝玉石的化学组成；发光与显色的化学原理</td></tr>
                  <tr><td>《地质博物馆》实践</td><td>矿物厅参观讲解</td></tr>
                  <tr><td>蓝宝石的结晶与《绀碧之棺》</td><td>晶体结构浅析；结晶的方法；硫酸铜的性质</td></tr>
                  <tr><td>炼金术师的馈赠</td><td>化学元素周期帝国的历史地理、行政区划与政治制度</td></tr>
                  <tr><td>法老的权杖</td><td>过氧化氢的分解反应；催化剂的特性</td></tr>
                  <tr><td>委托人的景泰蓝与《世界上最想听的课</td><td>陶瓷的化学成分；陶瓷烧制的物理化学过程</td></tr>
                  <tr><td>《陶艺馆》实践</td><td>陶艺制作中的化学</td></tr>
                  <tr><td>教你制作手工皂</td><td>手工皂的制作；为手工皂增色的“神秘专家”</td></tr>
                  <tr><td>后炼金术时代的符号</td><td>用化学式表示物质；化合价的含义及常见元素的化合价</td></tr>
                </table>
              </div>
              <div role="tabpanel" class="tab-pane" id="list2">
                <table class="table table-striped">
                  <tr><td>名称</td><td>教师</td><td>开始时间</td><td></td><td></td></tr>
                  {{#each chem_2015_spring_items}}
                  <tr>
                    <td><a href="/items/{{this.id}}">{{this.name}}</a></td>
                    <td>{{this.teacher_description}}</td>
                    <td>{{this.start_date}}</td>
                    <td>
                      <form action="/buy" method="post" style="display: inline-block">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <button type="submit" class="btn btn-default">直接购买</button>
                      </form>
                    </td>
                    <td>
                      <form action="/cart" method="post" style="display: inline-block">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <button type="submit" class="btn btn-default">加入购物车</button>
                      </form>
                    </td>
                  </tr>
                  {{/each}}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
