<div class="out-container background-black" style="min-height:48em">
    <div class="container">
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb4">
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 z2">
                <div class="px2 py2">
                    <div class="py1 mb18">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 z2">
                <div class="px2 py2">
                    <div class="border-top border-thick py1">
                        <h3 class="">费米导师团分享在北大清华和常春藤名校的经历，陪伴孩子们成长。</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay z1" style="opacity:0.6; background-image: url(/images/IMG_7300.JPG)">
    </div>
</div>

<div class="out-container">
  <div class="container">
    <div class="row">
      {{#each passages}}
        <div class="col-md-12">
          <div class="promo-content horizontal">
            <div class="row">
              <div class="col-md-2 col-md-offset-1">
                <img src="/passages/{{this.id}}/{{this.coverName}}" alt="教师">
              </div>
              <div class="col-md-8">
                <div class='inner-content'>
                  <h3>{{this.title}}</h3>
                  <p>{{this.description}}</p>
                </div>
              </div>
              <a href="/faculty/{{this.alias}}" class="cta-overlay">{{this.title}}</a>
            </div>
          </div>
        </div>
      <!--div class='col-md-3'>
        <div class="promo-content">
          <img src="/passages/{{this.id}}/{{this.coverName}}" alt="faculty">
          <div class="inner-content">
            <div>
              <h5>教师</h5>
              <h3>{{this.title}}</h3>
            </div>
            <div>
              <p>{{this.description}}</p>
            </div>
          </div>
          <a href="/faculty/{{this.alias}}" class="cta-overlay">{{this.title}}</a>
        </div>
      </div>
      <div class='col-md-1'>
      </div-->
      {{/each}}
    </div>
  </div>
</div>
