  <div class="out-container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>教师</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>创始人 肖艺能</h3>
        </div>
        <div class="col-md-6 col-md-offset-2">
          <p>Never lose your holy curiosity.</p>
        </div>
      </div>
    </div>
    <div class="overlay" style="opacity=0.4; background-image=url(/images/640.jpg);">
    </div>
  </div>
  <div class="out-container">
    <div class="container">
      <div class="row">
        {{#each passages}}
        <div class="col-md-12">
          <div class="promo-content horizontal">
            <div class="row">
              <div class="col-md-2">
                <img src="/passages/{{this.id}}/{{this.coverName}}" alt="教师">
              </div>
              <div class="col-md-8">
                <div class='inner-content'>
                  <h3>{{this.title}}</h3>
                  <p>{{this.description}}</p>
                </div>
              </div>
              <a href="/faculty/{{this.alias}}" class="cta-overlay">{{this.title}}</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>



