{{> subnav_faculty}}

<div class="row">
{{#each passages}}
  <div class="col-md-12">
    <div class="promo-content horizontal">
      <div class="row">
        <div class="col-md-2">
          <img src="/passages/{{this.id}}/{{this.coverName}}" alt="教师">
        </div>
        <div class="col-md-8">
          <div class='inner-content'>
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
          </div>
        </div>
        <a href="/faculty/{{this.alias}}" class="cta-overlay">{{this.title}}</a>
      </div>
    </div>
  </div>
{{/each}}
</div>
